/*
Description:  theme for Classes
Author:       B Licud
Author URI:   https://github.com/152250294TCD
License: GPLv3
License URI: http://www.gnu.org/licenses/gpl.html
*/



/*--------------------------------------------------------------
body {
	margin: 0;
}

{
main{
main {
  width: calc(70% - 1px);
  float: left;
  padding: 1rem;
  border-right: 1px solid black;

}	
	
aside {

text-align: right;
}
footer {
  clear: both;
  background-color: #f0f0f0;
  text-align: center;
  padding: 1rem;
----------------------------------------------------------------
>>> COLORS:	  
----------------------------------------------------------------
nav ul {
  list-style-type: square;
}

nav ul li::marker {
  color: red; 
}

nav a:active {
  color: blue; 
}
nav a:hover {
  color: green; 
}
nav a:visited {
  color: purple; 
}

header {
  background-color: #f0f0f0;
  padding: 1rem;
}



----------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Universal
# General Elements
# Modal Navigation
# Navigation
# Header Area
# Content Area
# Footer Area
# Reusable Classes
# Other
# Templates
# Media Queries

--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Universal
--------------------------------------------------------------*/
html * {
    box-sizing: border-box;
}
/*--------------------------------------------------------------
# General Elements
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Header Area
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Content Area
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Footer Area
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Reusable Classes
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Other
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Templates
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/

