/*
Description:  theme for Classes
Author:       B Licud
Author URI:   https://github.com/152250294TCD
License: GPLv3
License URI: http://www.gnu.org/licenses/gpl.html
*/



/*--------------------------------------------------------------
body {
	margin: 
	
.aside {
	
----------------------------------------------------------------
>>> COLORS:	  
----------------------------------------------------------------
.nav {
n {
  color: #000000;
}

n:visited {
  color: #000000;
}

n:hover {
  color: #954535;
}

n:active {
  color: #954535;
}
}


----------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Universal
# General Elements
# Modal Navigation
# Navigation
# Header Area
# Content Area
# Footer Area
# Reusable Classes
# Other
# Templates
# Media Queries

--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Universal
--------------------------------------------------------------*/
html * {
    box-sizing: border-box;
}
/*--------------------------------------------------------------
# General Elements
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Header Area
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Content Area
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Footer Area
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Reusable Classes
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Other
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Templates
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/

